* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
}
html {
    height: 1500px;
}
body {
    margin: 10px;
    background-color: #0d0d20;
    color: white;
    height: 100%;
}

.main {
    height: 95%;
}
.title {
    display: flex;
    align-items: center;
    margin-bottom: 45px;

}
.title a {
    display: flex;
    align-items: center;
}
.title-images {
    display: flex;
    align-items: center;
}
.title-images img{
    margin: 5px;
    border-radius: 8px;
    height: 150px;
}

.second-title {
    color: white;
    display: flex;
    align-items: flex-end;
    margin: 10px;
}
.second-title h4 {
    margin-left: 10px;
}
.first-image {
    width: 100%;
}
.image-container {
    display: inline-block;
   
}
.image-actions {
    display: flex;
    justify-content: space-around;
    margin-top: -4px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #9B51E0;;
    width: 270px;
}

.sections-buttons a {
    text-decoration: none;
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 25px;
    margin-right: 10px;
    font-weight: bold;
}

.footer {
    background-color: #9B51E0;;
    padding: 10px;
    margin-top: 20px;
    height: 48px;
}
a:hover {
    fill: black;
}
.dot-title {
    width: 40px;
    text-align: center;
    height: 40px;
    background-color: #9B51E0;;
    margin: 0 20px 0 0;
    padding: 25px;
    display: inline-block;
    border-radius: 50%;
}

.car-icon {
   
    background-image: url("image/car.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 40px;
    width: 40px;
}


.dot-title-icon2 {
    display: inline-block;
    background-image: url("image/github.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 20px;
    width: 20px;
}
.dot-title-icon3 {
    display: inline-block;
    background-image: url("image/google.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 20px;
    width: 20px;
}

.dot-title-icon4 {
    display: inline-block;
    background-image: url("image/facebook.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 20px;
    width: 20px;
}

.dot-title-small {
    width: 20px;
    height: 20px;
    display: block;
    background-color: #9B51E0;;
    margin: 0 20px 0 0;
    padding: 20px;
    border-radius: 50%;
}

.dot-title-small-icon {
    background-image: url("image/Vector (3).png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 20px;
    width: 20px;
}
.section-one-icon {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
#big-image {
    height: 220px;
}
.section-text {
    margin-top: 75px;
}

.footer-icons {
    width: 15%;
    display: flex;
    justify-content: space-around;
}
.bell-icon {
    display: inline-block;
    background-image: url("image/bell.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 20px;
    width: 20px;
}
.cloud-icon {
    display: inline-block;
    background-image: url("image/cloud.png");
    background-repeat: no-repeat;
    background-size: 100%;
   margin-top: 5px;
    height: 20px;
    width: 20px;
}
.set-icon {
    display: inline-block;
    background-image: url("image/setting.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 20px;
    width: 20px;
}
.store-icon {
    display: inline-block;
    background-image: url("image/Vector (3).png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 20px;
    width: 20px;
}
.icons-page1{

    width: 109px;
    display: flex;
    justify-content: space-around;

}